doctype html
block vars
html(lang="en")
   head
     script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115566708-1")
     script.
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-115566708-1');
     title #{title}
     meta(name="viewport" content="width=device-width, initial-scale=1.0")
     meta(name="descritpion" content=description)

     meta(property="og:title" content=title)
     meta(property="og:description" content=description)
     meta(property="og:image" content=image)
     meta(property="og:url" content=currentPath)
     meta(property="og:type" content="website")
     meta(property="fb:app_id" content="177181859756472")

     meta(name="twitter:title" content=title)
     meta(name="twitter:description" content=description)
     meta(name="twitter:image" content=image)
     meta(name="twitter:card" content="summary_large_image")
     meta(name="twitter:site" content="@arisacoba")

     link(rel="stylesheet" href="assets/style.css")
     link(rel="icon" href="assets/images/aris-acoba.ico")
   body
     script.
         window.fbAsyncInit = function() {
            FB.init({
              appId      : '177181859756472',
              xfbml      : true,
              version    : 'v2.12'
         });

         FB.AppEvents.logPageView();

          };

         (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
     include ../partials/header.pug
     block content 
     include ../partials/footer.pug
     script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous")
     script(src="assets/app.js")
